extends config

block showContentOfConfig
  h2= "Flag Preview"
  if config.json
    - all = [];i=0;
    for val,key in config.json
      - all[i]= {val:val,key:key}
      - i++

    - for (i =0;i*6<=(all.length);i++)
      .row
        - for (j=i*6;j<Math.min(all.length,(i+1)*6);j++)
          .col-sm-2=all[j].key
            img(src= all[j].val, class="img-thumbnail" ,width = 30)

