extends config

block showContentOfConfig
  - lang = layout.user.getLang(0)
  if config.json
    - lang = layout.user.getLang(0)
    table#resulttable.table.table-striped.table-responsive
      thead
        tr
          th="Category"
          th="Translated Category"
      tbody
        each category in config.json
          tr
            td=category.EN
            td=category[lang]
