node_modules
public/bootstrap
sessions
workspace.xml
tasks.xml
db-backup
testForPreview.html
test/screens/actual*.*
bower_components
log/
ch_av/

package-lock.json
test/access/stylesheets
maillogTest.log
yarn.lock
script_logs

# Ignore all temporary files for comparison
*_actual.html
*_actual.html.dceql
weekly2all.py
