node_modules
public/bootstrap
sessions
workspace.xml
tasks.xml
db-backup
testForPreview.html
test/screens/actual*.*
log/
ch_av/

package-lock.json
test/uc.access/stylesheets
maillogTest.log
yarn.lock
script_logs

# Ignore all temporary files for comparison
*_actual.html
*_actual.html.dceql
weekly2all.py
data.json
!package-lock.json
profile_logs
.nyc_output

coverage/
