extends layout




block content




  row
    div
      table.table.table-striped
        thead
          tr 
            th
             | name
            th
             |  status
            th
             |  ??
            th
             | ??
         tbody
          each blog, i in blogs
            tr
              td
                a(href='#{layout.htmlroot}/blog/' + blog.id) #{blog.name} 
              td= blog.status
          


  