extends layout




block content

  row
    | Blogs: 
    a(href="/blog/list?status=open") open
    | 
    a(href="/blog/list?status=review") review
    | 
    a(href="/blog/list?status=trash") trash
    | 
    a(href="/blog/list?status=published") published
    |   A new Blog ? 
    a(href="/blog/create") create


  row
    div
      table.table.table-striped
        thead
          tr 
            th
             | name
            th
             |  status
            th
             |  ??
            th
             | ??
         tbody
          each blog, i in blogs
            tr
              td
                a(href='/blog/' + blog.id) #{blog.name} 
              td= blog.status
          


  