extends layout


block content
  h1
    | Current OSM Wiki Calender as Markdown
  p
    | This is an <b>experimental (!)</b> view on the calender in OpenStreetMap.
    | It displays the events from today until 2 weeks.<br>
    | Looking foreward to find a scrollable code view in Bootstrap :-(
    | Use <a href="https://markdown-it.github.io/">markdown online</a> to convert to HTML.

  pre(overflow-x="auto" overflow-wrap="normal" white-space="pre") 
    |#{calenderAsMarkdown}

