:markdown
  # OSMBC Instructions

  ## Principles

  OSMBC is article based. Every single article in a blog is one object.

  The article has the following properties:
  * title 
    Used internally for display purposes only
  * collection
    Free text (english / german) to describe the idea, or the collect the html link
  * markdown
    german markdown text
  * markdownEN
    english markdown text (no process for weekly defined yet)
  * blog
    Reference to the blog number
  * category 
    Reference to the category in the blog
    (categories can be redefined per blog)