extends layout

block content
  div.top
    | Welcome to OSM BC
  div.container
  button.btn.bnt-default.btn-lg
    a(href="/article/Create") Collect
  button.btn.bnt-default.btn-lg
    a(href="/blog/open") Open Blog
  button.btn.bnt-default.btn-lg
    a(href="/blog/review") Review Blog

   div.footer