extends layout

block content
  form(method="POST", action=layout.htmlroot + "/login")
    .mb-3.row
      label.col-sm-1.col-form-label Username
      .col-sm-3
        input#username.form-control(type="text", name="username", placeholder="Enter Username")
    .mb-3.row
      label.col-sm-1.col-form-label Password
      .col-sm-3
        input#password.form-control(type="password", name="password", placeholder="Enter Password")
    button#submitbutton.btn.btn-primary(type="submit") Login
  .footer