
extends layout

block content
  // Full Access Index Page
  h1="Login Failure"
  
     
  div.btn-group-vertical
    if layout.auth.openstreetmap.enabled
      div
        a.btn.btn-primary#login(href=htmlroot+"/auth/openstreetmap")="Login with OpenStreetMap"
    if layout.auth.openstreetmap_oauth20.enabled
      div
        a.btn.btn-primary#login(href=htmlroot+"/auth/openstreetmap_oauth20")="Login with OpenStreetMap OAuth 2.0"
    if layout.auth.htaccess.enabled
      div
        a#htaccesLoginButton.btn.btn-primary(href=htmlroot+"/htaccess/login")="Login with Local Passwort" 
        

  








  div.footer