
extends layout

block content
  // Full Access Index Page
  .row
    h2.hidden-xs
      | Login Page OSMBC
    h2.visible-xs
      | OSM BC
    .row
      p.osmbc-help-text
        | See recent blogs to work on below. If you just want to collect an article or an idea, use the collect menu on in the navbar.








  div.footer