extends layout


block content

  if warning
    each w in warning
      .alert.alert-dismissable.alert-danger
        button.close( type="button", data-dismiss="alert" ) ×
        |#{w}
    
  h1
    | Generate OSMBC Picture Markdown
  p
    | An <b>experimental</b> tool for generating pictures for OSMBC. 
    | It takes a picture, checking it on size, resizes it to 800px, and puts
    | some warnings, regarding size and location.
    | If the picture is under a license, please put it in. CC0 and CC3 are with reference to their license and allow a markdown reference to the author.

  form(name="input", action="#{layout.htmlroot}/tool/picturetool", method="post")
    div.form-horizontal(role="form")
      - sizeLabel =2
      - sizeInput = 6
      - sizeExplanation = 4
      - licenseLangs = ["DE","EN"]
      - licensesList = ["CC0","CC3","OSMMAP"]
      +labeledSelect("Language","pictureLanguage",pictureLanguage,licenseLangs,licenseLangs,"Choose Language for License Reference")
      +labeledInput("Alternative Text","pictureAText",pictureAText,"Alt Text used for browsers without picture display")
      +labeledInput("Picture URL","pictureURL",pictureURL,"URL of the picture for the blog.")
      +labeledInput("Subtitle Markup","pictureMarkup",pictureMarkup,"Markup for the subtitle of the picture.")
      +labeledSelect("License","pictureLicense",pictureLicense,licensesList,licensesList,"Under which license is the picture published ?")
      +labeledInput("Picture Author (MD)","pictureAuthor",pictureAuthor,"Markdown text for the author name.")
      input(type="submit", class="btn btn-primary",value="OK")


  h3
    | Markdown, for Copy
  textarea(id="markdown" rows=5 cols=500 style="font-family:monospace")
    |#{genMarkup}
  h3
    | Preview
    :verbatim
    !{preview}
 

block scripts                
  script(src='https://cdn.jsdelivr.net/markdown-it/5.0.1/markdown-it.min.js')
  script(src="https://cdn.rawgit.com/Triforcey/clip-j/1dbfdfc0646359ee70d714549db947d02705b303/clip-j.js" )

  script.
    window.onload = init;

    function init() {

      markdown = document.getElementById("markdown");
      if (markdown) {
        markdown.onchange = onchange;
        markdown.onkeyup = onchange;
      }
      onchange();
    }

  
   
    function convert(text) {
      converter = new window.markdownit();
      // convert md to html
      text = converter.render(text);
      // skip <ul> and </ul> at start and end
      
      
      return text;

    }

    var empty = "                                                                                  ";
    empty = empty+empty;
    empty = empty+empty;
    empty = empty+empty;
    var lineString = "---------------------------------------------------";
    lineString = lineString + lineString;
    lineString = lineString + lineString;
    lineString = lineString + lineString;

    function wl(string,length) {
        return (string + empty).substring(0,length);
    }
    function ll(length) {
      return lineString.substring(0,length);
    }

    function prettifyTable(text) {

      var lines=[];
      var content = text.match(/\|([^\|]*)/g);
    
      lengthOrt = 0;
      lengthInhalt = 0;
      lengthDatum = 0;
      lengthCountry = 0;
      for (var i=0;i<content.length-1;i=i+5) {
        if (i==5) continue;
        lengthOrt = Math.max(lengthOrt,content[i].trim().length);
        lengthInhalt = Math.max(lengthInhalt,content[i+1].trim().length);
        lengthDatum = Math.max(lengthDatum,content[i+2].trim().length);
        lengthCountry = Math.max(lengthCountry,content[i+3].trim().length);
      }
      var result = "";
      for (var i=0;i<content.length-1;i=i+5) {
        if (i==5) {
           result += "|"+ll(lengthOrt-1)+"|"+ll(lengthInhalt-1)+"|"+ll(lengthDatum-1)+"|"+ll(lengthCountry-1)+"|"+"\n";
          } else
          {
           result += wl(content[i],lengthOrt)+wl(content[i+1],lengthInhalt)+wl(content[i+2],lengthDatum)+wl(content[i+3],lengthCountry)+"|"+"\n";
          
          }
      }
      return result;
     

    }
  
    
  

    

    
    function onchange() {
      var md = document.getElementById("markdown").value;
      preview = document.getElementById("preview");
      html = document.getElementById("html");
      var t = convert(md);
      preview.innerHTML = t;
      html.value = t;
      if (!document.getElementById("disable").checked) {
          setTimeout(function() {
            var st = document.getElementById("markdown").selectionStart;
            var se = document.getElementById("markdown").selectionEnd;
            document.getElementById("markdown").value = prettifyTable(md);
            document.getElementById("markdown").selectionStart = st;
            document.getElementById("markdown").selectionEnd = se;

          },1);
            
        }
    
      }
   
   


