
h1
  | Release Notes

:markdown
  Release notes starting with version 0.2.14.

  ### 0.2.15
  * User Token is now 1 year valid.
  * Error message 'No Access' extended with OSM User Name.
  * Bug Fix in routing in user module.