extends layout




block content

  row
    div
      table.table.table-striped
        thead
          tr 
            th
              | Name
            th
              | access
            th
              | lastAccess

        tbody
          each user in users
            tr
              td
                a(href='/users/#{user.id}') #{user.OSMUser}
              td= user.access
              if (user.lastAccess)
                td= layout.moment(user.lastAccess).fromNow()
              else 
                td
                  | Never



  