extends layout

block content
  h1
    | Version Conflict

  p 
   | You tried to save a version of the object, but another user was faster. 
   | OSMBC is not realy supporting this case. <br>
   | Go Back to the post page, copy your changes, cancel your edit and try again
   | Sorry, better support will come.<br>
   | Christoph 
