body {
  padding: 0px;
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
<<<<<<< HEAD
  background-color:  #ccffff;
=======
  background-color:  #d85050;
>>>>>>> 5324dde... Changed Style of Developmemt Version.
  
}

a {
  color: #00B7FF;
}