body {
  padding: 0px;
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background-color:  #d85050;
  
}

a {
  color: #00B7FF;
}

.wp-caption {
border: 1px solid #ddd;
text-align: center;
background-color: #f3f3f3;
padding-top: 4px;
margin: 10px;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
.wp-caption img {
margin: 0;
padding: 0;
border: 0 none;
}
.wp-caption p.wp-caption-text {
font-size: 11px;
line-height: 17px;
padding: 0 4px 5px;
margin: 0;
}

.osmbc-deleted {
  background-color: ##ff0000;
  color: white;
}

.osmbc-inserted {
  background-color:  #3366ff;
  color: white;
}
.osmbc-deleted {
  color: ##ff0000;
}

.osmbc-inserted {
  color:  #3366ff;
}