body {
  padding: 15px;
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

li {
  margin: 2px;
}
a {
  color: #00B7FF;
}

mark {
  background-color: #FFF8C6;  /* Salmon Chiffon */
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

.wp-caption {
border: 1px solid #ddd;
text-align: center;
background-color: #f3f3f3;
padding-top: 4px;
margin: 10px;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
.wp-caption img {
margin: 0;
padding: 0;
border: 0 none;
}


.wp-caption p.wp-caption-text {
  color: #888;
  font-size: 12px;
  margin: 5px;
}
pre-code {
    word-wrap: normal;
    white-space: pre;
}


table {
  border: 1px solid #e7e7e7;
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
}



.osmbcbadge-lang {
  background-color: #d7d711;
  color:white;
}
.osmbclabel-lang {
  background-color: #d7d711;
  color:white;
}

.osmbc-btn-voted {
  background-color: white;
  color:black;
}
.osmbc-btn-not-voted {
  background-color: white;
  color:lightgrey;
}
.osmbccolor-lang {
  color: #d7d711;
}

.osmbcbadge-lang2 {
  background-color:  #5a5af2;
  color:white;
}
.osmbclabel-lang2 {
  background-color:  #5a5af2;
  color:white;
}

.osmbcbadge-user {
  background-color:  red;
  color:white;
}

.osmbccolor-lang2 {
  color:  #5a5af2;
}

.osmbc-deleted-inverted {
  background-color: #ff0000;
  color: white;
}

.osmbc-inserted-inverted {
  background-color:  #3366ff;
  color: white;
}
.osmbc-deleted {
  color: #ff0000;
}

.osmbc-inserted {
  color:  #3366ff;
}

.osmbclabel-no-markdown {
  color: white;
  background-color: lightgrey;
}
.osmbclabel-markdown {
  color: white;
  background-color: #5cb85c;
}
.osmbclabel-collect {
  color: white;
  background-color: lightblue;
}
.osmbclabel-no-translation {
  color: white;
  background-color: grey;
}
.osmbclabel-user-full {
  color:white;
  background-color:grey;
}
.osmbclabel-user-guest {
  color:black;
  border-style:solid;
  border-width:1px;
  background-color:lightgrey;
}
.osmbclabel-user-denied {
  color:black;
  border-style:solid;
  background-color:darkgrey;
}
.osmbclabel-user-self {
  color:white;
  background-color:red;
}

.osmbclabel-guest-indicator {
  color:white;
  background-color:#e5720d;
}

.osmbclabel-openblog {
  color:white;
  background-color:#D0D0D0  ;
}

.osmbclabel-editblog {
  color:white;
  background-color:#B8B8B8;
}

.osmbclabel-reviewblog {
  color:white;
  background-color:#1a75ff;
}

.osmbclabel-closedblog {
  color:white;
  background-color:#39e600;
}


.osmbccolor-user {
  color:red;
}

.small-margin {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 1px;
  margin-left: 1px;
}

.no-margin {
  margin-top: 0px;
  margin-bottom: 0px !important;
  margin-right: 0px;
  margin-left: 0px;
}

.osmbc-help-text {
  font-style: italic;
  color: lightblue;
  margin-top: 4px;
  margin-bottom: 4px;
}
.table-header-rotated th.row-header{
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

.table-header-rotated td{
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  vertical-align: middle;
  text-align: center;
}

.table-header-rotated th.rotate-45{
  height: 80px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  /* white-space: nowrap; *//*whether to display in one line or not*/
}