body {
  padding: 0px;
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

mark {
  background-color: #FFF8C6;  /* Salmon Chiffon */
}

pre-code {
    word-wrap: normal;
    white-space: pre;
}


table {
  border: 1px solid #e7e7e7;
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
}