h2
  | Welcome #{user.displayName}
p
  a(href="https://thefive.sabic.uberspace.de/osmbc.html") OSMBC
  |  is the tool for the international Weekly OSM and the German Wochennotiz Team to collaborate writing and translating the weekly news.
  | Someone has invited you to join. You can login with your OpenStreetMap credentials, and the above link.
p
  | To use the mailing feature of OSMBC please click on the link below.
p
  a(href="https://www.google.de") Link To Click On
